<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">
    <link href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css" rel="stylesheet">
    <script src="/js/preview.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="">
    <div class="container">
        <button aria-controls="navbar3SupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler navbar-toggler-right" data-target="#navbar3SupportedContent"
                data-toggle="collapse"
                type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center justify-content-center" id="navbar3SupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item mx-3"><a class="nav-link text-light" href="/index"><b>主页</b></a></li>
                <li class="nav-item mx-2"><a class="nav-link" href="/index"><b>电子证据保全</b></a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" onclick="preview()">白皮书</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/index">区块链</a></li>
                <li class="nav-item"><a class="nav-link" href="/about"><b>关于</b></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="py-5 text-center text-white"
     style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(https://static.pingendo.com/cover-bubble-dark.svg);  background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h1 class="mb-3">南山老火锅</h1>
                <p class="lead mb-0">成员：Y.Bear&nbsp; YL Chen&nbsp; EM Lai YZ Wang&nbsp; WJ Liu&nbsp;&nbsp;</p> <a
                    class="btn btn-primary m-3" href="#">Join us or Support us</a>
                <a class="btn btn-primary m-3" onclick="previewPPT()">More Information</a>
                <img
                        class="img-fluid d-block mx-auto" src="assets/styleguide/Alicode.jpg" width="750">
            </div>
        </div>
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<div class="text-center  pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 p-3">
                <h2 class="mb-4">Contact</h2>
                <p class="m-0">
                    <a class="text-dark" href="tel:+246 - 542 550 5462">+</a>86 18883285384</p>
                <p class="text-dark">yu.jack.bear@gmail.com</p>
            </div>
            <div class="col-md-6 p-3">
                <h2 class="mb-4">Location</h2>
                <p>
                    <a class="text-dark" href="https://www.google.it/maps" target="blank">南岸区 崇文路2号<br>重庆邮电大学&nbsp;
                        &nbsp; 400065</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-3">
                <iframe frameborder="0" height="400"
                        scrolling="no"
                        src="https://maps.google.com/maps?hl=en&amp;q=重庆邮电大学&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
                        width="100%"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-3">
                <p class="text-center text-muted">© Copyright 2018 Y.bear - All rights reserved. </p>
            </div>
        </div>
    </div>
</div>
</body>

</html>